<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#22405C">
    <title><%= @title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/velocity/1.2.3/velocity.min.js"></script>
    <%= assets(:css) %>
  </head>
  <body>
    <div id='container'>
      <video id="bg-video" loop muted autoplay></video>
      <img src='/assets/images/bg-2-small.png' id="video-cover"></img>
      <h2 id='name'><%= @name %></h2>
      <p id='info'><%= @info %></p>
      <div id='links' class='links'>
        <% @links.each do |name, link| %>
          <a id='link' href="<%= link %>"><%= name %></a>
        <% end %>
      </div>
      <div id='projects' class='links'>
        <% @projects.each do |name, link| %>
          <a id='link' href="<%= link %>"><%= name.to_s.gsub('_', ' ') %></a>
        <% end %>
      </div>
      <div id='debug'>
      <% if ENV['RACK_ENV'] == 'development' %>DEVELOPMENT<% end %>
      </div>
    </div>
    <%= assets(:js) %>
  </body>
</html>
