<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#22405C">
    <meta name="description" content="">
    <meta name="keywords" content="Nishant Shah">
    <link rel="canonical" href="https://nish.space">
    
    <meta property="og:title" content="Nishant Shah">
    <meta property="og:description" content="Nishant Shah - Personal Website">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1600">
    <meta property="og:image:height" content="1200">
    <%# <meta property="og:image:alt" content=""> %>
    <meta property="og:image" content="/assets/images/meta.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Nishant Shah">
    <meta name="twitter:description" content="">
    <meta name="twitter:image:type" content="image/jpeg">
    <meta name="twitter:image:width" content="1600">
    <meta name="twitter:image:height" content="1200">
    <%# <meta name="twitter:image:alt" content=""> %>
    <meta name="twitter:image" content="/assets/images/meta.jpg">
    
    <title><%= @title %></title>
    <%= assets(:css) %>
  </head>
  <body>
    <div id='container'>
      <video id="bg-video" loop muted autoplay></video>
      <img src='/assets/images/bg-1-small.png' id="video-cover"></img>
      <h2 id='name'><%= @name %></h2>
      <p id='info'><%= @info %></p>
      <%= render @partial %>
      <div id='debug'>
      </div>
    </div>
    <script src="//cdn.jsdelivr.net/npm/velocity-animate@2.0/velocity.min.js"></script>
    <%= assets(:js) %>
  </body>
</html>
