<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#22405C">
    <title><%= @title %></title>
    <%= assets(:css) %>
  </head>
  <body>
    <div id='pg-container'>
      <h3 id='name-small'><%= @name %></h3>
      <p id='info'><%= @info %></p>
      <div id="category-container">
        <% @links.each do |key, category| %>
          <div>
            <h2 id="category-title"><%= category[:title] %></h2>
            <div id="image-grid">
              <% category[:items].each do |item| %>
                <img id="img" src="/assets/images/procedural_generation<%= item %>">
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div id='debug'></div>
    </div>
  </body>
</html>
